// Place all the styles related to the Documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.document-wrapper {
	min-height: 100vh;
	display: grid;
	grid-template-columns: 15% 70% 15%;
}

nav {
	grid-column: 1;
}

.document {
	background-color: lightblue;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	grid-column: 2;
}

.actions {
	margin: 0;
	padding-left: unset;
}

.comment-sidebar {
	grid-column: 3;
}

.document-text {
	width: 100%;
	min-height: 90vh;
	resize: none;
	border: none;
	background-color: unset;
	overflow: hidden;
	font-size: 1.25rem;
}

.document-text:focus {
	outline: none;
}